/* TODO: Find an another solution with chakra UI and Framer motion to do this animation */
.burgerLine {
    transition: transform 250ms ease;
}

.burgerContainer:hover .burgerLine:first-child {
    transform: translateY(7px) !important;
}

.burgerContainer:hover .burgerLine:last-child {
    transform: translateY(-7px) !important;
}