.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("/background_david_bouscarle.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}